body {
   background-color: #f9f9f9;
   margin: 0;
   font-family: monospace;
}

.other_font {
   font-family: "Noto Sans", sans-serif;
}

.alt {
   background-color: #c4611f;
   color: #f9f9f9;
}

.second_alt {
   background-color: #2ab8b4;
   color: #f9f9f9;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2.5px 0;
   width: 100%;
}

header img {
   margin-left: 20px;
   height: 50px;
}

header img:hover {
   cursor: pointer;
}

header div {
   display: flex;
   padding-right: 20px;
}

.info {
   padding-left: 15px;
   padding-right: 15px;
}

.info:hover {
   color: inherit;
   text-decoration: underline;
   cursor: pointer;
}

.statements {
   display: none;
   position: absolute;
   background: #f9f9f9;
   color: black;
   max-width: 300px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.info:hover + .statements {
   display: block;
   top: 30px;
   right: 30px;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 75px;
}

main h1 {
   font-size: 30px;
   text-align: center;
}

.chat-bubble {
   position: fixed;
   padding: 10px 15px;
   color: #e6e6e6;
   font-weight: 600;
   border-radius: 20px;
   white-space: pre-line;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   font-size: 16px;
   max-width: 70%;
   line-height: 1.5;
}

.left {
   top: 21rem;
   left: 1.5rem;
}

.right {
   bottom: 9rem;
   right: 1.5rem;
}

.second {
   bottom: 37em;
}

.left::before,
.right::before {
   content: "";
   position: absolute;
   width: 40px;
   height: 40px;
   background-color: #007aff;
   z-index: -1;
   transform: rotate(45deg);
}

.left::before {
   left: -7px;
   bottom: 15px;
}

.right_second::before {
   background-color: #34c759;
   right: -7px;
   top: 15px;
}

.right::before {
   right: -7px;
   top: 15px;
}

.green {
   background-color: #34c759;
}

.blue {
   background-color: #007aff;
}

#imagecontainer {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 300px;
   border: #000000 dashed 4px;
   border-radius: 15px;
   padding: 15px;
   margin: 25px;
   background-color: #ec7728;
   box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
   transition: 0.3s ease;
}

#previewimage {
   height: 125px;
   margin-top: -70px;
   cursor: pointer;
}

#importbutton {
   font-family: monospace;
   color: #000000;
   position: absolute;
   bottom: 40px;
   border: none;
   padding: 12px 18px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 20px;
   transition: 0.3s ease;
}

#imagecontainer:hover {
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
   cursor: pointer;
   background-color: rgb(226, 101, 18);
   scale: 1.05;
}

#imagecontainer:hover #importbutton {
   background-color: #08ada8;
}

#imagecontainer:hover #previewimage {
   animation: rotate 1s forwards;
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px 0 5px 0;
   width: 100%;
   position: absolute;
   bottom: 0;
}

footer p {
   font-size: 13px;
   text-align: center;
   padding: 0px 15px;
}
